.navigation {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  background-color: #F8F8F8;
  padding: 0 100px 0 50px;
}

.navigation__search {
  display: flex;
  margin: 0 0 0 auto;
  padding: 0 0 0 55px;
  height: 100%;
  position: relative;

  &::before {
    content: '';
    display: block;
    height: 100%;
    width: 1px;
    background-color: $color-white-smoke;
    position: absolute;
    left: 0;
  }

  &::after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../img/icons/sprite/icon-loupe.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: calc(50% - 10px);
    left: 24px;
  }

  input::placeholder {
    letter-spacing: 0.03em;
  }
}

.navigation__search input {
  font-size: 0.825rem;
  padding: 0;
  margin: 0;
  border: none;
  background-color: inherit;

  &::placeholder {
    font-size: 0.825rem;
  }
}