.user-section {
  display: flex;
  justify-content: flex-end;
  height: min-content;
  flex-wrap: wrap;
  row-gap: 10px;
  min-width: 116px;
}

.user-section__list {
  &:not(:nth-child(3n + 1)) {
    margin-left: 28px;
  }
}

.user-section__link {
  display: flex;
}

.user-section__link--favorites {
  position: relative;

  &::before {
    color: $color-main-white;
    font-weight: 700;
    font-size: 0.625rem;
    line-height: 1em;
    content: attr(data-favourites-count);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 19px;
    height: 19px;
    background-color: $color-sale-red;
    border-radius: 50%;
    position: absolute;
    top: -8px;
    right: -12px;
  }
}
