//Fonts
$main-font: 'Inter', 'Arial', sans-serif;
$title-font: 'Prata', 'Times New Roman', serif;
$back: aqua;

//Colors
$color-main-grey: #f8f8f8;
$color-main-black: #303030;
$color-basic-black: #000000;
$color-main-white: #ffffff;
$color-light-grey: #fafafa;
$color-white-smoke: #f0f0f0;
$color-smoke-white: #f5f5f5;
$color-gainsboro-grey: #dddddd;
$color-gainsboro-light: #dadada;
$color-mouse-grey: #d0d0d0;
$color-suva-grey: #8f8f8f;

$color-ui-red: #e46942;
$color-ui-green: #5b8a8f;
$color-ui-cello: #495159;
$color-ui-grey: #d9d9d9;
$color-ui-gold: #f1cb7e;
$color-ui-orange: #ea8c48;
$color-ui-salad: #a7e492;
$color-button-hover: #505050;

$color-sale-red: #e24b33;
$color-sale-green: #43807f;
$color-sale-gold: #e1A661;
$color-half-backed: #5b8a8f;